<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h4 class="mb-0">Add Vocher</h4>
        </div>
        <div class="card-body">
          <form #add="ngForm" (ngSubmit)="addvoch(add.value)">
            <div class="mb-3">
              <label for="categoryName" class="form-label">Vocher Name</label>
              <input type="text" class="form-control" id="categoryName" name="name" ngModel required>
            </div>
            <div class="mb-3">
              <label for="categoryImage" class="form-label">Vocher discount</label>
              <input type="number" class="form-control" id="categoryImage" name="discount" ngModel required>
            </div>
            <div class="mb-3">
              <label for="categoryImage" class="form-label">Vocher quantity</label>
              <input type="text" class="form-control" id="categoryImage" name="quantity" ngModel required>
            </div>

            <div class="mb-3">
              <label for="categoryImage" class="form-label">Users </label>
              <select class="form-select " aria-label="Default select example" name="Userid" id="categoryId" ngModel>
                <option *ngFor="let item of user" value="{{item.id}}">{{item.name}}</option>
              </select>
            </div>


            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Add vocher</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
