<!--Page Banner Section Start-->
<div class="section section-wide">
  <div class="container-fluid">

    <!--Page Banner Start-->
    <div class="page-banner">
      <div class="container">
        <h2 class="page-title">Wishlist</h2>
        <ul class="page-breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li>Wishlist</li>
        </ul>
      </div>
    </div>
    <!--Page Banner End-->

  </div>
</div>
<!--Page Banner Section End-->
<!-- Wishlist Section Start -->
<div class="section section-padding">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <!--Wishlist Table Start-->
        <form action="#">
          <div class="cart-table table-responsive mb-0">
            <table class="table">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Add to Cart</th>
                  <th>Remove</th>
                </tr>
              </thead>
              <tbody>

                  <tr *ngFor="let item of favorite">
                      <!-- Phantom Was here -->
                      <td>
                          <a [routerLink]="['/details', item.productId]">
                              <img [src]="item.avatar" alt="Product">
                          </a>
                      </td>
                      <td>{{item.name}}</td>
                      <td>{{item.price}}</td>
                      <!--<td>
          <div class="pro-qty"> {{item.quantity}}<input type="text" value="1"></div>
        </td>-->
                      <td>
                          <button class="btn" (click)="addToCart(item)">
                              <i class="icofont-shopping-cart"></i> Add to Cart
                          </button>
                      </td>
                      <td> <button (click)="DeleteFav(item.id)"><i class="fa fa-trash-o"></i> </button></td>
                  </tr>
                  <tr *ngIf="favorite.length === 0">
                      <td colspan="5" class="text-center">No items in your wishlist yet 💔</td>
                  </tr>
              </tbody>

              <!--<tr>
    <td><a href="single-product.html"><img src="assets/images/products/cart-product-2.jpg" alt="Product"></a></td>
    <td><a href="single-product.html">Red Digital Camera</a></td>
    <td><span>$275.99</span></td>
    <td>
      <div class="pro-qty"><input type="text" value="1"></div>
    </td>
    <td><a href="#" class="btn">Add to Cart</a></td>
    <td><a href="#"><i class="fa fa-trash-o"></i></a></td>
  </tr>
  <tr>
    <td><a href="single-product.html"><img src="assets/images/products/cart-product-3.jpg" alt="Product"></a></td>
    <td><a href="single-product.html">Axor Digital camera</a></td>
    <td><span>$295.99</span></td>
    <td>
      <div class="pro-qty"><input type="text" value="1"></div>
    </td>
    <td><a href="#" class="btn">Add to Cart</a></td>
    <td><a href="#"><i class="fa fa-trash-o"></i></a></td>
  </tr>
  <tr>
    <td><a href="single-product.html"><img src="assets/images/products/cart-product-4.jpg" alt="Product"></a></td>
    <td><a href="single-product.html">Neko Digital Camera</a></td>
    <td><span>$199.99</span></td>
    <td>
      <div class="pro-qty"><input type="text" value="1"></div>
    </td>
    <td><a href="#" class="btn">Add to Cart</a></td>
    <td><a href="#"><i class="fa fa-trash-o"></i></a></td>
  </tr>-->
              
            </table>
          </div>
        </form>
        <!--Wishlist Table End-->

      </div>
    </div>
  </div>
</div><!-- Wishlist Section End -->
