<!-- Offcanvas Cart Section -->
<!--<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCart" aria-labelledby="offcanvasCartLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasCartLabel">Your Cart</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">-->
<!-- Offcanvas Cart Items -->
<!--<div class="offcanvas-cart-item">
    <a href="single-product.html" class="image">
      <img src="assets/images/products/product-1.jpg" alt="Product Image">
    </a>
    <div class="content">
      <a href="single-product.html" class="title">Camera Pro 440</a>
      <span class="price">Price: $295</span>
      <span class="qty">Qty: 01</span>
    </div>
    <button class="cart-item-remove"><i class="icofont-ui-delete"></i></button>
  </div>

  <div class="offcanvas-cart-item">
    <a href="single-product.html" class="image">
      <img src="assets/images/products/product-2.jpg" alt="Product Image">
    </a>
    <div class="content">
      <a href="single-product.html" class="title">Laptop 2021 Edition</a>
      <span class="price">Price: $860</span>
      <span class="qty">Qty: 01</span>
    </div>
    <button class="cart-item-remove"><i class="icofont-ui-delete"></i></button>
  </div>

  <div class="offcanvas-cart-item">
    <a href="single-product.html" class="image">
      <img src="assets/images/products/product-3.jpg" alt="Product Image">
    </a>
    <div class="content">
      <a href="single-product.html" class="title">Smartphone Plus</a>
      <span class="price">Price: $560</span>
      <span class="qty">Qty: 01</span>
    </div>
    <button class="cart-item-remove"><i class="icofont-ui-delete"></i></button>
  </div>
</div>-->
<!-- Offcanvas Cart Top (Close Button) -->
<!--<div class="offcanvas-cart-top">
  <button class="offcanvas-cart-close" data-bs-dismiss="offcanvas" aria-label="Close">Close Cart <i class="icofont-close-line"></i></button>
</div>-->
<!-- Offcanvas Cart Footer (Total and Checkout Button) -->
<!--<div class="offcanvas-cart-footer">
    <h5 class="total">Total: <span class="amount">$1160</span></h5>
    <a href="checkout.html" class="btn checkout-btn">Check out</a>
  </div>
</div>-->



<div class="cart">
  <h2>السلة</h2>
  <div *ngIf="cartItems.length > 0; else emptyCart">
    <div *ngFor="let item of cartItems">
      <h3>{{ item.name }}</h3>
      <p>{{ item.price | currency }}</p>
    </div>
    <button (click)="clearCart()">مسح السلة</button>
  </div>
  <ng-template #emptyCart>
    <p>السلة فارغة.</p>
  </ng-template>
</div>
