<!-- The sidebar -->
<div class="sidebar">
  <a class="active" routerLink="/dash">test</a>
  <a class="active" routerLink="/dash">test</a>
  <a class="active" routerLink="/dash">test</a>

  <a class="active" routerLink="/dash/viewcategory">category</a>
  <a routerLink="/dash/viewproduct">product</a>
  <a routerLink="/dash/viewvocher">vochur</a>
  <a routerLink="/dash/viewuser">user</a>
  <a routerLink="/dash/addcategory">add category</a>
  <a routerLink="/dash/addproduct">add product</a>
  <a routerLink="/dash/addvocher">add vochur</a>
</div>

<!-- Page content -->
<div class="content">
  <router-outlet></router-outlet>
</div>
