<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h4 class="mb-0">Add Category</h4>
        </div>
        <div class="card-body">
          <form #addcategory="ngForm" (ngSubmit)="addgate(addcategory.value)">
            <div class="mb-3">
              <label for="categoryName" class="form-label">Category Name</label>
              <input type="text" class="form-control" id="categoryName" name="name" ngModel required>
            </div>
            <div class="mb-3">
              <label for="categoryImage" class="form-label">Category Image</label>
              <input type="text" class="form-control" id="categoryImage" name="img" ngModel required>
            </div>
            <div class="mb-3">
              <label for="categoryImage1" class="form-label">Category description</label>
              <input type="text" class="form-control" id="categoryImage1" name="description" ngModel required>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Add Category</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
